<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        background: #ddd;
      }
      .box {
        background-color: white;
        height: 50px;
        overflow: hidden;
      }
      .left {
        float: left;
      }
      .right {
        float: right;
      }
    </style>
  </head>
  <body>
    <div class="box">
      <img src="left-arrow.png" alt="왼쪽 화살표" class="left" />
      <img src="right-arrow.png" alt="오른쪽 화살표" class="right" />
    </div>
  </body>
</html>
