<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="layout.css" />
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1>사이트제목</h1>
      </div>
      <div id="sidebar">
        <h2>사이드 바</h2>
      </div>
      <div id="contents">
        <h2>본문</h2>
        <p>
          감사원은 원장을 포함한 5인 이상 11인 이하의 감사위원으로 구성한다.
          국가는 농지에 관하여 경자유전의 원칙이 달성될 수 있도록 노력하여야
          하며, 농지의 소작제도는 금지된다. 모든 국민은 능력에 따라 균등하게
          교육을 받을 권리를 가진다. 비상계엄하의 군사재판은 군인·군무원의
          범죄나 군사에 관한 간첩죄의 경우와 초병·초소·유독음식물공급·포로에
          관한 죄중 법률이 정한 경우에 한하여 단심으로 할 수 있다. 다만, 사형을
          선고한 경우에는 그러하지 아니하다.
        </p>

        <p>
          비상계엄이 선포된 때에는 법률이 정하는 바에 의하여 영장제도,
          언론·출판·집회·결사의 자유, 정부나 법원의 권한에 관하여 특별한 조치를
          할 수 있다. 국회의원의 선거구와 비례대표제 기타 선거에 관한 사항은
          법률로 정한다. 공공필요에 의한 재산권의 수용·사용 또는 제한 및 그에
          대한 보상은 법률로써 하되, 정당한 보상을 지급하여야 한다.
        </p>
      </div>
      <div id="footer">
        <h2>푸터</h2>
        <ul>
          <li>
            국가는 과학기술의 혁신과 정보 및 인력의 개발을 통하여 국민경제의
            발전에 노력하여야 한다.
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
